<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <title>Documentation</title>
  </head>
  <body>
    <h1>{{Documentation.team_name}}</h1>
    <p>{{Documentation.description}}</p>
    <ul>
      {% for mem in Documentation.members %}
      <ul>
        <li>{{mem}}</li>
      </ul>
      {% endfor %}
    </ul>
  </body>
</html>
