{% extends 'base.html' %} {%block content%}
<h1>Teams</h1>
<p>
  These are our leadership groups at Base Camp. Each of these teams has a
  different role for helping Base Camp
</p>
<nav>
  <ul>
    <li>
      <a href="/Documentation/">Documentation Team</a>
    </li>
    <li>
      <a href="/Procurement/">Procurement Team</a>
    </li>
    <li>
      <a href="/Management/">Management Team</a>
    </li>
    <li>
      <a href="/Community/">Community Team</a>
    </li>
  </ul>
</nav>
{%endblock content%}
